Este notebook utiliza los archivos de la carpeta "dataset" y un archivo de la carpeta "translation" el cual fue generado previamente utilizando el servicio de "Translation" de Google Cloud Platform.

In [1]:
import pandas as pd
import numpy as np
from math import sin, cos, sqrt, atan2, radians

In [2]:
df_customers = pd.read_csv("dataset/olist_customers_dataset.csv")
df_geolocation = pd.read_csv("dataset/olist_geolocation_dataset.csv")
df_order_items = pd.read_csv("dataset/olist_order_items_dataset.csv")
df_order_payments = pd.read_csv("dataset/olist_order_payments_dataset.csv")
df_order_reviews_with_traduction = pd.read_csv("translation/olist_order_reviews_with_translation_dataset.csv")
df_orders = pd.read_csv("dataset/olist_orders_dataset.csv")
df_products = pd.read_csv("dataset/olist_products_dataset.csv")
df_sellers = pd.read_csv("dataset/olist_sellers_dataset.csv")
df_category_name_translation = pd.read_csv("dataset/product_category_name_translation.csv")

# Preprocesamiento

In [3]:
print(df_order_items.shape)
df_order_items.head()

(112650, 7)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [4]:
print(df_customers.shape)
df_customers.head()

(99441, 5)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [5]:
print(df_geolocation.shape)
df_geolocation.head()

(1000163, 5)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [6]:
print(df_order_payments.shape)
df_order_payments.head()

(103886, 5)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [7]:
df_order_reviews_with_traduction

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,review_comment_title_translated,review_comment_message_translated
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59,NaN,NaN
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13,NaN,NaN
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24,NaN,NaN
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06,NaN,Lo recibí mucho antes de la fecha límite estip...
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53,NaN,Felicitaciones tiendas lannister Me encantó co...
...,...,...,...,...,...,...,...,...,...
99995,f3897127253a9592a73be9bdfdf4ed7a,22ec9f0669f784db00fa86d035cf8602,5,NaN,NaN,2017-12-09 00:00:00,2017-12-11 20:06:42,NaN,NaN
99996,b3de70c89b1510c4cd3d0649fd302472,55d4004744368f5571d1f590031933e4,5,NaN,"Excelente mochila, entrega super rápida. Super...",2018-03-22 00:00:00,2018-03-23 09:10:43,NaN,"Excelente mochila, entrega súper rápida. ¡Reco..."
99997,1adeb9d84d72fe4e337617733eb85149,7725825d039fc1f0ceb7635e3f7d9206,4,NaN,NaN,2018-07-01 00:00:00,2018-07-02 12:59:13,NaN,NaN
99998,be360f18f5df1e0541061c87021e6d93,f8bd3f2000c28c5342fedeb5e50f2e75,1,NaN,Solicitei a compra de uma capa de retrovisor c...,2017-12-15 00:00:00,2017-12-16 01:29:43,NaN,Solicité la compra de una cubierta de espejo c...
99999,efe49f1d6f951dd88b51e6ccd4cc548f,90531360ecb1eec2a1fbb265a0db0508,1,NaN,"meu produto chegou e ja tenho que devolver, po...",2017-07-03 00:00:00,2017-07-03 21:01:49,NaN,"Llegó mi producto y tengo que devolverlo, porq..."

In [8]:
print(df_order_reviews_with_traduction.shape)
df_order_reviews_with_traduction.head()

(100000, 9)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,review_comment_title_translated,review_comment_message_translated
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59,NaN,NaN
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13,NaN,NaN
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24,NaN,NaN
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06,NaN,Lo recibí mucho antes de la fecha límite estip...
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53,NaN,Felicitaciones tiendas lannister Me encantó co...

In [9]:
print(df_orders.shape)
df_orders.head()

(99441, 8)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [10]:
print(df_products.shape)
df_products.head()

(32951, 9)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [11]:
print(df_sellers.shape)
df_sellers.head()

(3095, 4)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [12]:
df_complete = pd.merge(df_order_items, df_products, on="product_id")
print(df_complete.shape)
df_complete.head()

(112650, 15)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0

In [13]:
df_complete = pd.merge(df_complete, df_category_name_translation, on="product_category_name")
print(df_complete.shape)
df_complete.head()

(111023, 16)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,cool_stuff
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,cool_stuff
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,cool_stuff
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,cool_stuff
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,cool_stuff

In [14]:
df_complete = pd.merge(df_complete, df_sellers, on="seller_id")
print(df_complete.shape)
df_complete.head()

(111023, 19)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english,seller_zip_code_prefix,seller_city,seller_state
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,cool_stuff,27277,volta redonda,SP
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,cool_stuff,27277,volta redonda,SP
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,cool_stuff,27277,volta redonda,SP
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,cool_stuff,27277,volta redonda,SP
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,cool_stuff,27277,volta redonda,SP

In [15]:
df_geolocation_clean = df_geolocation.groupby("geolocation_zip_code_prefix")[["geolocation_lat", "geolocation_lng"]].max().reset_index()
df_geolocation_clean.head()

   geolocation_zip_code_prefix  geolocation_lat  geolocation_lng
0                         1001       -23.549292       -46.633559
1                         1002       -23.544641       -46.633180
2                         1003       -23.548901       -46.634862
3                         1004       -23.549181       -46.634057
4                         1005       -23.548758       -46.634768

In [16]:
df_complete = pd.merge(df_complete, df_geolocation_clean, left_on="seller_zip_code_prefix", right_on="geolocation_zip_code_prefix")
print(df_complete.shape)
df_complete.head()

(110771, 22)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,...,product_length_cm,product_height_cm,product_width_cm,product_category_name_english,seller_zip_code_prefix,seller_city,seller_state,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,598.0,...,28.0,9.0,14.0,cool_stuff,27277,volta redonda,SP,27277,-22.485553,-44.11752
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,cool_stuff,58.0,598.0,...,28.0,9.0,14.0,cool_stuff,27277,volta redonda,SP,27277,-22.485553,-44.11752
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,cool_stuff,58.0,598.0,...,28.0,9.0,14.0,cool_stuff,27277,volta redonda,SP,27277,-22.485553,-44.11752
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,cool_stuff,58.0,598.0,...,28.0,9.0,14.0,cool_stuff,27277,volta redonda,SP,27277,-22.485553,-44.11752
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,cool_stuff,58.0,598.0,...,28.0,9.0,14.0,cool_stuff,27277,volta redonda,SP,27277,-22.485553,-44.11752

In [17]:
df_complete = df_complete.rename(columns={
    "geolocation_lat": "seller_geolocation_lat",
    "geolocation_lng": "seller_geolocation_lng",
}).drop(columns=["geolocation_zip_code_prefix"])
print(df_complete.shape)
df_complete.head()

(110771, 21)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,...,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english,seller_zip_code_prefix,seller_city,seller_state,seller_geolocation_lat,seller_geolocation_lng
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,598.0,...,650.0,28.0,9.0,14.0,cool_stuff,27277,volta redonda,SP,-22.485553,-44.11752
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,cool_stuff,58.0,598.0,...,650.0,28.0,9.0,14.0,cool_stuff,27277,volta redonda,SP,-22.485553,-44.11752
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,cool_stuff,58.0,598.0,...,650.0,28.0,9.0,14.0,cool_stuff,27277,volta redonda,SP,-22.485553,-44.11752
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,cool_stuff,58.0,598.0,...,650.0,28.0,9.0,14.0,cool_stuff,27277,volta redonda,SP,-22.485553,-44.11752
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,cool_stuff,58.0,598.0,...,650.0,28.0,9.0,14.0,cool_stuff,27277,volta redonda,SP,-22.485553,-44.11752

In [18]:
df_complete = pd.merge(df_complete, df_orders, on="order_id")
print(df_complete.shape)
df_complete.head()

(110771, 28)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,...,seller_state,seller_geolocation_lat,seller_geolocation_lng,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,598.0,...,SP,-22.485553,-44.11752,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,cool_stuff,58.0,598.0,...,SP,-22.485553,-44.11752,e6eecc5a77de221464d1c4eaff0a9b64,delivered,2017-06-28 11:52:20,2017-06-29 02:44:11,2017-07-05 12:00:33,2017-07-13 20:39:29,2017-07-26 00:00:00
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,cool_stuff,58.0,598.0,...,SP,-22.485553,-44.11752,4ef55bf80f711b372afebcb7c715344a,delivered,2018-05-18 10:25:53,2018-05-18 12:31:43,2018-05-23 14:05:00,2018-06-04 18:34:26,2018-06-07 00:00:00
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,cool_stuff,58.0,598.0,...,SP,-22.485553,-44.11752,30407a72ad8b3f4df4d15369126b20c9,delivered,2017-08-01 18:38:42,2017-08-01 18:55:08,2017-08-02 19:07:36,2017-08-09 21:26:33,2017-08-25 00:00:00
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,cool_stuff,58.0,598.0,...,SP,-22.485553,-44.11752,91a792fef70ecd8cc69d3c7feb3d12da,delivered,2017-08-10 21:48:40,2017-08-10 22:05:11,2017-08-11 19:43:07,2017-08-24 20:04:21,2017-09-01 00:00:00

In [19]:
df_complete = pd.merge(df_complete, df_customers, on="customer_id")
print(df_complete.shape)
df_complete.head()

(110771, 32)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,...,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,598.0,...,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,cool_stuff,58.0,598.0,...,delivered,2017-06-28 11:52:20,2017-06-29 02:44:11,2017-07-05 12:00:33,2017-07-13 20:39:29,2017-07-26 00:00:00,0fb8e3eab2d3e79d92bb3fffbb97f188,75800,jatai,GO
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,cool_stuff,58.0,598.0,...,delivered,2018-05-18 10:25:53,2018-05-18 12:31:43,2018-05-23 14:05:00,2018-06-04 18:34:26,2018-06-07 00:00:00,3419052c8c6b45daf79c1e426f9e9bcb,30720,belo horizonte,MG
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,cool_stuff,58.0,598.0,...,delivered,2017-08-01 18:38:42,2017-08-01 18:55:08,2017-08-02 19:07:36,2017-08-09 21:26:33,2017-08-25 00:00:00,e7c828d22c0682c1565252deefbe334d,83070,sao jose dos pinhais,PR
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,cool_stuff,58.0,598.0,...,delivered,2017-08-10 21:48:40,2017-08-10 22:05:11,2017-08-11 19:43:07,2017-08-24 20:04:21,2017-09-01 00:00:00,0bb98ba72dcc08e95f9d8cc434e9a2cc,36400,conselheiro lafaiete,MG

In [20]:
df_complete = pd.merge(df_complete, df_geolocation_clean, left_on="customer_zip_code_prefix", right_on="geolocation_zip_code_prefix")
print(df_complete.shape)
df_complete.head()

(110476, 35)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,...,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,598.0,...,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,28013,-21.720615,-41.253645
1,bd31b009e1dbc47fc7c250b1e2cf5440,1,92e2d2146e433cd4d1f09a3f8633ead0,4a3ca9315b744ce9f8e9374361493884,2018-05-02 03:51:18,52.9,22.95,cama_mesa_banho,53.0,714.0,...,2018-04-25 15:33:00,2018-05-08 22:24:49,2018-05-21 00:00:00,8d500d527a1d67efec12faf28b61885b,28013,campos dos goytacazes,RJ,28013,-21.720615,-41.253645
2,bb4eb0196897c20281a61f75ce23211c,1,8cee1d824765335c48ccc515c2ecf4b8,4a3ca9315b744ce9f8e9374361493884,2017-07-28 14:50:11,96.0,15.42,cama_mesa_banho,54.0,385.0,...,2017-07-26 20:22:05,2017-08-03 17:37:42,2017-08-15 00:00:00,81fde78227bbac716944e215b6895639,28013,campos dos goytacazes,RJ,28013,-21.720615,-41.253645
3,f9847bf9cc7336c6ba07fe2bdbb6cae1,1,3e5201fe0d1ba474d9b90152c83c706c,8160255418d5aaa7dbdc9f4c64ebda44,2018-05-16 18:30:50,125.9,13.30,cama_mesa_banho,56.0,255.0,...,2018-05-11 16:28:00,2018-05-22 23:24:32,2018-06-04 00:00:00,592fa32dca4f04d098afdc9912bd0629,28013,campos dos goytacazes,RJ,28013,-21.720615,-41.253645
4,53d1f26612893ef17dbc27d69a8382e4,1,3bc1b27ebc43f46dcb6aace1b65325a7,6cd68b3ed6d59aaa9fece558ad360c0a,2017-11-10 11:35:46,129.5,16.67,malas_acessorios,43.0,783.0,...,2017-11-07 14:18:46,2017-11-13 17:48:39,2017-11-28 00:00:00,2583866968d72b2503e08837f6698689,28013,campos dos goytacazes,RJ,28013,-21.720615,-41.253645

In [21]:
df_complete = df_complete.rename(columns={
    "geolocation_lat": "customer_geolocation_lat",
    "geolocation_lng": "customer_geolocation_lng",
}).drop(columns=["geolocation_zip_code_prefix"])
print(df_complete.shape)
df_complete.head()

(110476, 34)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,...,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,customer_geolocation_lat,customer_geolocation_lng
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,598.0,...,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00,871766c5855e863f6eccc05f988b23cb,28013,campos dos goytacazes,RJ,-21.720615,-41.253645
1,bd31b009e1dbc47fc7c250b1e2cf5440,1,92e2d2146e433cd4d1f09a3f8633ead0,4a3ca9315b744ce9f8e9374361493884,2018-05-02 03:51:18,52.9,22.95,cama_mesa_banho,53.0,714.0,...,2018-04-25 03:51:18,2018-04-25 15:33:00,2018-05-08 22:24:49,2018-05-21 00:00:00,8d500d527a1d67efec12faf28b61885b,28013,campos dos goytacazes,RJ,-21.720615,-41.253645
2,bb4eb0196897c20281a61f75ce23211c,1,8cee1d824765335c48ccc515c2ecf4b8,4a3ca9315b744ce9f8e9374361493884,2017-07-28 14:50:11,96.0,15.42,cama_mesa_banho,54.0,385.0,...,2017-07-24 14:50:11,2017-07-26 20:22:05,2017-08-03 17:37:42,2017-08-15 00:00:00,81fde78227bbac716944e215b6895639,28013,campos dos goytacazes,RJ,-21.720615,-41.253645
3,f9847bf9cc7336c6ba07fe2bdbb6cae1,1,3e5201fe0d1ba474d9b90152c83c706c,8160255418d5aaa7dbdc9f4c64ebda44,2018-05-16 18:30:50,125.9,13.30,cama_mesa_banho,56.0,255.0,...,2018-05-10 18:30:50,2018-05-11 16:28:00,2018-05-22 23:24:32,2018-06-04 00:00:00,592fa32dca4f04d098afdc9912bd0629,28013,campos dos goytacazes,RJ,-21.720615,-41.253645
4,53d1f26612893ef17dbc27d69a8382e4,1,3bc1b27ebc43f46dcb6aace1b65325a7,6cd68b3ed6d59aaa9fece558ad360c0a,2017-11-10 11:35:46,129.5,16.67,malas_acessorios,43.0,783.0,...,2017-11-06 12:31:54,2017-11-07 14:18:46,2017-11-13 17:48:39,2017-11-28 00:00:00,2583866968d72b2503e08837f6698689,28013,campos dos goytacazes,RJ,-21.720615,-41.253645

In [22]:
df_complete = pd.merge(df_complete, df_order_reviews_with_traduction, on="order_id")
print(df_complete.shape)
df_complete.head()

(111130, 42)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,...,customer_geolocation_lat,customer_geolocation_lng,review_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,review_comment_title_translated,review_comment_message_translated
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,598.0,...,-21.720615,-41.253645,97ca439bc427b48bc1cd7177abe71365,5,NaN,"Perfeito, produto entregue antes do combinado.",2017-09-21 00:00:00,2017-09-22 10:57:03,NaN,"Perfecto, producto entregado antes de la hora ..."
1,bd31b009e1dbc47fc7c250b1e2cf5440,1,92e2d2146e433cd4d1f09a3f8633ead0,4a3ca9315b744ce9f8e9374361493884,2018-05-02 03:51:18,52.9,22.95,cama_mesa_banho,53.0,714.0,...,-21.720615,-41.253645,1a99824f74d0922e36ad6631e7e44288,3,NaN,NaN,2018-05-09 00:00:00,2018-05-10 02:04:02,NaN,NaN
2,bb4eb0196897c20281a61f75ce23211c,1,8cee1d824765335c48ccc515c2ecf4b8,4a3ca9315b744ce9f8e9374361493884,2017-07-28 14:50:11,96.0,15.42,cama_mesa_banho,54.0,385.0,...,-21.720615,-41.253645,2e6dd84a89e6ca047502168d21c14c85,5,NaN,"O tapete e lindo, é muito grande! Da um charme...",2017-08-04 00:00:00,2017-08-04 23:33:50,NaN,"¡La alfombra es hermosa, es demasiado grande! ..."
3,f9847bf9cc7336c6ba07fe2bdbb6cae1,1,3e5201fe0d1ba474d9b90152c83c706c,8160255418d5aaa7dbdc9f4c64ebda44,2018-05-16 18:30:50,125.9,13.30,cama_mesa_banho,56.0,255.0,...,-21.720615,-41.253645,2a395d9ba7750664d964aede064d7f34,5,10,Muito boa,2018-05-23 00:00:00,2018-05-24 02:47:29,10,Muy buena
4,53d1f26612893ef17dbc27d69a8382e4,1,3bc1b27ebc43f46dcb6aace1b65325a7,6cd68b3ed6d59aaa9fece558ad360c0a,2017-11-10 11:35:46,129.5,16.67,malas_acessorios,43.0,783.0,...,-21.720615,-41.253645,d096dfdd1d829ae8c220f26b2dd39804,5,NaN,NaN,2017-11-14 00:00:00,2017-11-16 14:41:23,NaN,NaN

In [23]:
df_complete = pd.merge(df_complete, df_order_payments, on="order_id")
print(df_complete.shape)
df_complete.head()

(116007, 46)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,...,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,review_comment_title_translated,review_comment_message_translated,payment_sequential,payment_type,payment_installments,payment_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,598.0,...,NaN,"Perfeito, produto entregue antes do combinado.",2017-09-21 00:00:00,2017-09-22 10:57:03,NaN,"Perfecto, producto entregado antes de la hora ...",1,credit_card,2,72.19
1,bd31b009e1dbc47fc7c250b1e2cf5440,1,92e2d2146e433cd4d1f09a3f8633ead0,4a3ca9315b744ce9f8e9374361493884,2018-05-02 03:51:18,52.9,22.95,cama_mesa_banho,53.0,714.0,...,NaN,NaN,2018-05-09 00:00:00,2018-05-10 02:04:02,NaN,NaN,1,boleto,1,75.85
2,bb4eb0196897c20281a61f75ce23211c,1,8cee1d824765335c48ccc515c2ecf4b8,4a3ca9315b744ce9f8e9374361493884,2017-07-28 14:50:11,96.0,15.42,cama_mesa_banho,54.0,385.0,...,NaN,"O tapete e lindo, é muito grande! Da um charme...",2017-08-04 00:00:00,2017-08-04 23:33:50,NaN,"¡La alfombra es hermosa, es demasiado grande! ...",1,credit_card,9,111.42
3,f9847bf9cc7336c6ba07fe2bdbb6cae1,1,3e5201fe0d1ba474d9b90152c83c706c,8160255418d5aaa7dbdc9f4c64ebda44,2018-05-16 18:30:50,125.9,13.30,cama_mesa_banho,56.0,255.0,...,10,Muito boa,2018-05-23 00:00:00,2018-05-24 02:47:29,10,Muy buena,1,credit_card,6,139.20
4,53d1f26612893ef17dbc27d69a8382e4,1,3bc1b27ebc43f46dcb6aace1b65325a7,6cd68b3ed6d59aaa9fece558ad360c0a,2017-11-10 11:35:46,129.5,16.67,malas_acessorios,43.0,783.0,...,NaN,NaN,2017-11-14 00:00:00,2017-11-16 14:41:23,NaN,NaN,1,credit_card,2,146.17

In [24]:
df_total_price = df_complete.groupby("order_id")[["price"]].sum().reset_index()
df_total_price = df_total_price.rename(columns={"price": "order_total_price"})
print(df_total_price.shape)
df_total_price.head()

(96773, 2)

                           order_id  order_total_price
0  00010242fe8c5a6d1ba2dd792cb16214              58.90
1  00018f77f2f0320c557190d7a144bdd3             239.90
2  000229ec398224ef6ca0657da4fc703e             199.00
3  00024acbcdf0a6daa1e931b038114c75              12.99
4  00042b26cf59d7ce69dfabb4e55b4fd9             199.90

In [25]:
df_complete = pd.merge(df_complete, df_total_price, on="order_id")
print(df_complete.shape)
df_complete.head()

(116007, 47)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,...,review_comment_message,review_creation_date,review_answer_timestamp,review_comment_title_translated,review_comment_message_translated,payment_sequential,payment_type,payment_installments,payment_value,order_total_price
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,598.0,...,"Perfeito, produto entregue antes do combinado.",2017-09-21 00:00:00,2017-09-22 10:57:03,NaN,"Perfecto, producto entregado antes de la hora ...",1,credit_card,2,72.19,58.9
1,bd31b009e1dbc47fc7c250b1e2cf5440,1,92e2d2146e433cd4d1f09a3f8633ead0,4a3ca9315b744ce9f8e9374361493884,2018-05-02 03:51:18,52.9,22.95,cama_mesa_banho,53.0,714.0,...,NaN,2018-05-09 00:00:00,2018-05-10 02:04:02,NaN,NaN,1,boleto,1,75.85,52.9
2,bb4eb0196897c20281a61f75ce23211c,1,8cee1d824765335c48ccc515c2ecf4b8,4a3ca9315b744ce9f8e9374361493884,2017-07-28 14:50:11,96.0,15.42,cama_mesa_banho,54.0,385.0,...,"O tapete e lindo, é muito grande! Da um charme...",2017-08-04 00:00:00,2017-08-04 23:33:50,NaN,"¡La alfombra es hermosa, es demasiado grande! ...",1,credit_card,9,111.42,96.0
3,f9847bf9cc7336c6ba07fe2bdbb6cae1,1,3e5201fe0d1ba474d9b90152c83c706c,8160255418d5aaa7dbdc9f4c64ebda44,2018-05-16 18:30:50,125.9,13.30,cama_mesa_banho,56.0,255.0,...,Muito boa,2018-05-23 00:00:00,2018-05-24 02:47:29,10,Muy buena,1,credit_card,6,139.20,125.9
4,53d1f26612893ef17dbc27d69a8382e4,1,3bc1b27ebc43f46dcb6aace1b65325a7,6cd68b3ed6d59aaa9fece558ad360c0a,2017-11-10 11:35:46,129.5,16.67,malas_acessorios,43.0,783.0,...,NaN,2017-11-14 00:00:00,2017-11-16 14:41:23,NaN,NaN,1,credit_card,2,146.17,129.5

In [26]:
df_total_weight = df_complete.groupby("order_id")[["product_weight_g"]].sum().reset_index()
df_total_weight = df_total_weight.rename(columns={"product_weight_g": "total_products_weight"})
print(df_total_weight.shape)
df_total_weight.head()

(96773, 2)

                           order_id  total_products_weight
0  00010242fe8c5a6d1ba2dd792cb16214                  650.0
1  00018f77f2f0320c557190d7a144bdd3                30000.0
2  000229ec398224ef6ca0657da4fc703e                 3050.0
3  00024acbcdf0a6daa1e931b038114c75                  200.0
4  00042b26cf59d7ce69dfabb4e55b4fd9                 3750.0

In [27]:
df_complete = pd.merge(df_complete, df_total_weight, on="order_id")
print(df_complete.shape)
df_complete.head()

(116007, 48)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,...,review_creation_date,review_answer_timestamp,review_comment_title_translated,review_comment_message_translated,payment_sequential,payment_type,payment_installments,payment_value,order_total_price,total_products_weight
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,598.0,...,2017-09-21 00:00:00,2017-09-22 10:57:03,NaN,"Perfecto, producto entregado antes de la hora ...",1,credit_card,2,72.19,58.9,650.0
1,bd31b009e1dbc47fc7c250b1e2cf5440,1,92e2d2146e433cd4d1f09a3f8633ead0,4a3ca9315b744ce9f8e9374361493884,2018-05-02 03:51:18,52.9,22.95,cama_mesa_banho,53.0,714.0,...,2018-05-09 00:00:00,2018-05-10 02:04:02,NaN,NaN,1,boleto,1,75.85,52.9,1200.0
2,bb4eb0196897c20281a61f75ce23211c,1,8cee1d824765335c48ccc515c2ecf4b8,4a3ca9315b744ce9f8e9374361493884,2017-07-28 14:50:11,96.0,15.42,cama_mesa_banho,54.0,385.0,...,2017-08-04 00:00:00,2017-08-04 23:33:50,NaN,"¡La alfombra es hermosa, es demasiado grande! ...",1,credit_card,9,111.42,96.0,900.0
3,f9847bf9cc7336c6ba07fe2bdbb6cae1,1,3e5201fe0d1ba474d9b90152c83c706c,8160255418d5aaa7dbdc9f4c64ebda44,2018-05-16 18:30:50,125.9,13.30,cama_mesa_banho,56.0,255.0,...,2018-05-23 00:00:00,2018-05-24 02:47:29,10,Muy buena,1,credit_card,6,139.20,125.9,1800.0
4,53d1f26612893ef17dbc27d69a8382e4,1,3bc1b27ebc43f46dcb6aace1b65325a7,6cd68b3ed6d59aaa9fece558ad360c0a,2017-11-10 11:35:46,129.5,16.67,malas_acessorios,43.0,783.0,...,2017-11-14 00:00:00,2017-11-16 14:41:23,NaN,NaN,1,credit_card,2,146.17,129.5,900.0

In [28]:
# Convert geolocation distances to km
def euclidian_distance_in_km(lat_1, lon_1, lat_2, lon_2):
    # approximate radius of earth in km
    R = 6373.0

    lat_1 = radians(lat_1)
    lon_1 = radians(lon_1)
    lat_2 = radians(lat_2)
    lon_2 = radians(lon_2)

    dist_lon = lon_2 - lon_1
    dist_lat = lat_2 - lat_1

    a = sin(dist_lat / 2)**2 + cos(lat_1) * cos(lat_2) * sin(dist_lon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    return R * c

In [29]:
df_complete["euclidian_distance_km"] = df_complete.apply(lambda x: euclidian_distance_in_km(x["seller_geolocation_lat"], x["seller_geolocation_lng"], x["customer_geolocation_lat"], x["customer_geolocation_lng"]), axis=1)
print(df_complete.shape)
df_complete.head()

(116007, 49)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,...,review_answer_timestamp,review_comment_title_translated,review_comment_message_translated,payment_sequential,payment_type,payment_installments,payment_value,order_total_price,total_products_weight,euclidian_distance_km
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,598.0,...,2017-09-22 10:57:03,NaN,"Perfecto, producto entregado antes de la hora ...",1,credit_card,2,72.19,58.9,650.0,307.149883
1,bd31b009e1dbc47fc7c250b1e2cf5440,1,92e2d2146e433cd4d1f09a3f8633ead0,4a3ca9315b744ce9f8e9374361493884,2018-05-02 03:51:18,52.9,22.95,cama_mesa_banho,53.0,714.0,...,2018-05-10 02:04:02,NaN,NaN,1,boleto,1,75.85,52.9,1200.0,780.635283
2,bb4eb0196897c20281a61f75ce23211c,1,8cee1d824765335c48ccc515c2ecf4b8,4a3ca9315b744ce9f8e9374361493884,2017-07-28 14:50:11,96.0,15.42,cama_mesa_banho,54.0,385.0,...,2017-08-04 23:33:50,NaN,"¡La alfombra es hermosa, es demasiado grande! ...",1,credit_card,9,111.42,96.0,900.0,780.635283
3,f9847bf9cc7336c6ba07fe2bdbb6cae1,1,3e5201fe0d1ba474d9b90152c83c706c,8160255418d5aaa7dbdc9f4c64ebda44,2018-05-16 18:30:50,125.9,13.30,cama_mesa_banho,56.0,255.0,...,2018-05-24 02:47:29,10,Muy buena,1,credit_card,6,139.20,125.9,1800.0,780.635283
4,53d1f26612893ef17dbc27d69a8382e4,1,3bc1b27ebc43f46dcb6aace1b65325a7,6cd68b3ed6d59aaa9fece558ad360c0a,2017-11-10 11:35:46,129.5,16.67,malas_acessorios,43.0,783.0,...,2017-11-16 14:41:23,NaN,NaN,1,credit_card,2,146.17,129.5,900.0,347.881450

In [30]:
df_complete["shipping_limit_date"] = df_complete["shipping_limit_date"].astype('datetime64[ns]')
df_complete["review_creation_date"] = df_complete["review_creation_date"].astype('datetime64[ns]')
df_complete["review_answer_timestamp"] = df_complete["review_answer_timestamp"].astype('datetime64[ns]')
df_complete["order_purchase_timestamp"] = df_complete["order_purchase_timestamp"].astype('datetime64[ns]')
df_complete["order_approved_at"] = df_complete["order_approved_at"].astype('datetime64[ns]')
df_complete["order_delivered_carrier_date"] = df_complete["order_delivered_carrier_date"].astype('datetime64[ns]')
df_complete["order_delivered_customer_date"] = df_complete["order_delivered_customer_date"].astype('datetime64[ns]')
df_complete["order_estimated_delivery_date"] = df_complete["order_estimated_delivery_date"].astype('datetime64[ns]')

In [31]:
def get_datetime_difference(date_begin, date_end):
    return date_end - date_begin

In [32]:
df_complete["delivery_time_hrs"] = df_complete.apply(lambda x: get_datetime_difference(x["order_approved_at"], x["order_delivered_carrier_date"]), axis=1)
df_complete["delivery_time_hrs"] = df_complete["delivery_time_hrs"] / np.timedelta64(1, 'h')
print(df_complete.shape)
df_complete.head()

(116007, 50)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,product_category_name,product_name_lenght,product_description_lenght,...,review_comment_title_translated,review_comment_message_translated,payment_sequential,payment_type,payment_installments,payment_value,order_total_price,total_products_weight,euclidian_distance_km,delivery_time_hrs
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,598.0,...,NaN,"Perfecto, producto entregado antes de la hora ...",1,credit_card,2,72.19,58.9,650.0,307.149883,152.811389
1,bd31b009e1dbc47fc7c250b1e2cf5440,1,92e2d2146e433cd4d1f09a3f8633ead0,4a3ca9315b744ce9f8e9374361493884,2018-05-02 03:51:18,52.9,22.95,cama_mesa_banho,53.0,714.0,...,NaN,NaN,1,boleto,1,75.85,52.9,1200.0,780.635283,11.695000
2,bb4eb0196897c20281a61f75ce23211c,1,8cee1d824765335c48ccc515c2ecf4b8,4a3ca9315b744ce9f8e9374361493884,2017-07-28 14:50:11,96.0,15.42,cama_mesa_banho,54.0,385.0,...,NaN,"¡La alfombra es hermosa, es demasiado grande! ...",1,credit_card,9,111.42,96.0,900.0,780.635283,53.531667
3,f9847bf9cc7336c6ba07fe2bdbb6cae1,1,3e5201fe0d1ba474d9b90152c83c706c,8160255418d5aaa7dbdc9f4c64ebda44,2018-05-16 18:30:50,125.9,13.30,cama_mesa_banho,56.0,255.0,...,10,Muy buena,1,credit_card,6,139.20,125.9,1800.0,780.635283,21.952778
4,53d1f26612893ef17dbc27d69a8382e4,1,3bc1b27ebc43f46dcb6aace1b65325a7,6cd68b3ed6d59aaa9fece558ad360c0a,2017-11-10 11:35:46,129.5,16.67,malas_acessorios,43.0,783.0,...,NaN,NaN,1,credit_card,2,146.17,129.5,900.0,347.881450,25.781111

In [33]:
df_complete.dtypes

order_id                                     object
order_item_id                                 int64
product_id                                   object
seller_id                                    object
shipping_limit_date                  datetime64[ns]
price                                       float64
freight_value                               float64
product_category_name                        object
product_name_lenght                         float64
product_description_lenght                  float64
product_photos_qty                          float64
product_weight_g                            float64
product_length_cm                           float64
product_height_cm                           float64
product_width_cm                            float64
product_category_name_english                object
seller_zip_code_prefix                        int64
seller_city                                  object
seller_state                                 object
seller_geolocation_lat                      float64
seller_geolocation_lng                      float64
customer_id                                  object
order_status                                 object
order_purchase_timestamp             datetime64[ns]
order_approved_at                    datetime64[ns]
order_delivered_carrier_date         datetime64[ns]
order_delivered_customer_date        datetime64[ns]
order_estimated_delivery_date        datetime64[ns]
customer_unique_id                           object
customer_zip_code_prefix                      int64
customer_city                                object
customer_state                               object
customer_geolocation_lat                    float64
customer_geolocation_lng                    float64
review_id                                    object
review_score                                  int64
review_comment_title                         object
review_comment_message                       object
review_creation_date                 datetime64[ns]
review_answer_timestamp              datetime64[ns]
review_comment_title_translated              object
review_comment_message_translated            object
payment_sequential                            int64
payment_type                                 object
payment_installments                          int64
payment_value                               float64
order_total_price                           float64
total_products_weight                       float64
euclidian_distance_km                       float64
delivery_time_hrs                           float64
dtype: object

In [34]:
df_complete.to_csv("df_complete.csv")